{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}